/* Главная */

/** main text color #757575 **/
/** text color of hero and address-footer #FFFFFF **/
/** color of titles #212121 **/
/** hover color #2196F3 **/
/** footer imail and tel color: rgba(255, 255, 255, 0.6)**/
/**background color of hero #2F303A **/

:root {
    --primary-text-color: #757575;
    --text-title-color: #212121 ;
    --hero-color:#FFFFFF;
    --accent-color :#2196F3 ;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


/** то что не надо применять **/
.list {
    list-style: none;
    padding: 0;
    margin: 0;
    
}
a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
   
}
* {
    box-sizing: border-box;

}
p {
    margin: 0;
}
h1, 
h2, 
h3 {
margin: 0;
}

/** accents **/

 
.link:hover {
    color: var(--accent-color );
     transition: 250ms top cubic-bezier(0.4,0,0.2,1);
   
}
.link:focus {
    color: var(--accent-color );
     
}
.contact-link {
    color: var(--primary-text-color);
     
}
.contact-link:hover,
.contact-link:focus {
    color:var(--accent-color );
     
    
}



.hero-button {
    color: #FFFFFF;
    background-color: #2196F3 ;  
}



/** Header conteiner **/
.header {
    border-bottom: 1px solid #ECECEC;
    
    
}
.conteiner {
    width: 1200px;
    padding-left:15px ;
    padding-right: 15px;
    margin: 0 auto;
    align-items: center;
}
.header-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ECECEC;

}
.navigation {
    display: flex;
    align-items: center;
}
.site-nav {
    display: flex;
    transition: 250ms border-color cubic-bezier(0.4,0,0.2,1);
}
 .link {
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
text-align: left;
color: #212121;

}
.nav-item:not(:last-child){
margin-right: 50px;
}
.nav-item a{
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    transition: 250ms border-color cubic-bezier(0.4,0,0.2,1);
}
.logo-header {
    font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
display: inline-block;
margin-right: 93px;

}
.contacts-nav {
    display: flex;
    margin-left: auto;

}
.nav-contact-link:not(:last-child){
margin-right: 50px; 
}
    


.site-nav .link.current {
    color: #2196F3;
    position: relative;
    transition: 250ms top cubic-bezier(0.4,0,0.2,1);
}
.site-nav .link.current::after {
position: absolute;
content:"";
bottom: 0;
left: 0;
width: 100%;
height: 4px;
background: #2196F3;
border-radius: 2px;
}

.contact-link {
    display: flex;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
transition: 250ms border-color cubic-bezier(0.4,0,0.2,1);
}
.mail, .tel {
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-weight: 500;
    color: var(--primary-text-color);
    
}
.mail svg {
    width: 16px;
    height: 12px;
    fill: var(--primary-text-color);
    margin-right: 10px;
}
.tel svg {
    width: 10px;
    height: 16px;
    fill: var(--primary-text-color);
    margin-right: 10px;
}
.mail:hover svg,
.mail:focus svg{
fill:var(--accent-color );

}
.tel:hover svg,
.tel:focus svg{
fill:var(--accent-color );
 
}




/** Hero conteiner**/
.hero-section {
    margin-top: 0;
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  min-height: 600px;
  background-color: var(--background-color-gray);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/herophoto.jpg);
}
.hero-conteiner {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

 .hero-title{
margin: 0 auto 30px;
font-family: Roboto;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-transform: uppercase;
color: var(--hero-color);
width: 696px;
letter-spacing: 0.06em;
}

.hero-button {
    display: inherit;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;  
    margin: 0 auto ;
    padding: 10px 32px;
    width: 200px;
    height: 50px;
    color: #FFFFFF;    
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;   
}
/** **/


/** solutions conteiner **/
.solutions-section {
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.solutions-conteiner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    color: #FFFFFF;  
}
.solutions-list{
    display: flex;
    flex-wrap: wrap;

}
.solutions-title {
    display: block;

}
.solution-block:not(:nth-child(4n)) {
    margin-right: 30px;
}
.solution-block{
    width: 270px;
   
}
.antenna::before {
background-image: url("./image/symbol-defs.svg#icon-phone");
 background-repeat: no-repeat;
 background-position: center;
 }
.solution-block::before{
    display: flex;
    content: '';
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.solution-block.antenna::before{
    background-image: url("../image/antenna.svg");
}
.solution-block.clock::before{
    background-image: url("../image/clock.svg");
}
.solution-block.diagram::before{
    background-image: url("../image/diagram.svg");
}
.solution-block.astronaut::before{
    background-image: url("../image/astronaut.svg");
}



.title {
font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--text-title-color);
margin-top: 0;
margin-bottom: 10px;
}

.par-text-solution {
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 2;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

/** Works samples container **/
.works-samples-container {
    padding-bottom: 94px;

}
.work-conteiner {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.works-samples-title {
font-family: Roboto;
font-weight: 700;
font-size: 36px;
line-height: 1.31;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-title-color);
padding-bottom: 50px;

}

.work-samples-list {
    
     display: flex;
    justify-content: space-between;
}
.work-photo{
        width: 370px;
        height: 294px;
        position: relative;     
}


.label {
 text-transform: uppercase;
 position: absolute;
 width: 100%;
 height: 70px;
 bottom: 0;
color: #FFFFFF;
padding: 27px 82px;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
font-family: Roboto;
font-weight: bold;
background: rgba(47, 48, 58, 0.8);
}
.work-photo:not(:nth-child(3n)) {
    margin-right: 30px;
}


/** Team-container **/
.section-team {
    background: #F5F4FA;
    display: flex;
    justify-content:center;
    padding-top: 94px;
    padding-bottom: 94px;
    
   
}
.section-team-conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   
}
.main-work-title {
    display: block;
 font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.31;
letter-spacing: 0.03em;
text-align: center;
color: var(--text-title-color);
}
.section-team-list {
       display: flex;
       margin-top: 50px;
 
}

.team-cards {
width: 270px;
height: 428px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
text-align: center;
}

.team-cards:not(:nth-child(4n)) {
    margin-right: 30px;
}

.designer-photo {
    width: 270px;
height: 260px;
}
.team-profile {
    height: 167px;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    
}

.designer-title {
    
    display: block;
    margin-bottom:10px;
    font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--text-title-color);
}
.par-text {
display: block;
margin: 0 ;
 font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.social-group {
    height:44px;
    margin-top: 16px;
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    justify-content: space-around;
   
}

.social-links {
    
    margin: auto;
    height: 44px;
    width: 44px;
    transition: 250ms top cubic-bezier(0.4,0,0.2,1);
    
    
}
.soc-link svg{
    height: 20px;
    width: 20px;
    fill: #AFB1B8;
}
.soc-link {
    width: 100%;
    height: 100%;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
    
}

 .soc-link:hover,
    .soc-link:focus {
       background-color: var(--accent-color);
        
    }

    .soc-link:hover svg,

    .soc-link:focus svg {
       fill: #ffffff;
        transition: 250ms top cubic-bezier(0.4,0,0.2,1);
       
    }


.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    background: #ffffff;
    display: flex;
    justify-content:center;
}
.conteinet-clients {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-clients{
        font-size: 36px;
    line-height: 1.16;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}

.clients-logo{
    width: 170px;
    height: 90px; 
    
}
.clients-logo:not(:nth-child(6n)) {
    margin-right: 30px;}

.clients-logo svg {
    width: ;
    height: 45px;
    fill: #AFB1B8;
}
.clients-logo a{
        border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-right: 30px;
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: center;
    align-items: center;
    transition: 250ms border-color cubic-bezier(0.4,0,0.2,1);
}



   .comp-link:hover,
    .comp-link:focus {
       border-color: var(--accent-color);
        transition: 250ms border-color cubic-bezier(0.4,0,0.2,1);
    }

    .comp-link:hover svg,
    .comp-link:focus svg {
       fill: var(--accent-color);
        transition: 250ms border-color cubic-bezier(0.4,0,0.2,1);
    }

/** footer conteiner **/
.footer-block{
    padding-top: 60px;
    padding-bottom: 60px;
height: 252px;
 background-color:#2F303A ;
 
}
.footer-conteiner {
   width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
display: flex;
    
}


.footer-social {
        margin-left: 70px;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    padding-top: 9px;

}
.footer-social p {
    text-transform: uppercase;
    font-family: Roboto;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: #FFFFFF;
margin-bottom: 20px;
}

.footer-links-list {
    display:flex;

}
.footer-links svg {
     fill: white;
    height: 20px;
    width: 20px;
}

.footer-links {
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 50%;
        width: 44px;
    height: 44px;
    transition: 250ms top cubic-bezier(0.4,0,0.2,1);
   
}

.footer-links:not(:nth-child(4n)) {
    margin-right: 10px;}

.footer-links a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    height: 100%;
    transition: 250ms top cubic-bezier(0.4,0,0.2,1);

}
.footer-li:hover,
.footer-li:focus {
    background-color: var(--accent-color);
    fill: #ffffff;
 
}



.logo-footer {
    display: block;
    font-family: Raleway;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
color: #2196F3;
}

.address-footer{
 font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 2;
letter-spacing: 0.03em;
text-align: left;
margin-bottom: 9px;
    color: #FFFFFF;
}

.footer-email  {
    display: block;
    font-family: Roboto;
    margin-bottom: 9px;
font-size: 14px;
line-height: 2;
letter-spacing: 0.03em;
text-align: left;
color: rgba(255, 255, 255, 0.6);

}
.footer-tel {
 font-family: Roboto;
font-size: 14px;
line-height: 2;
letter-spacing: 0.03em;
text-align: left;
color: rgba(255, 255, 255, 0.6);
}

.footer-block .color-logo {
    color: #FFFFFF;
}

#contact-details-head {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: Roboto;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.form {
    margin-left: 105px;
    padding-top: 9px;
    width: auto;
height: 86px;  

}
.form-group {
    display: flex;
    align-items: center;
    width: 100%;    
}
.label-email {
    height: 50px;
    width:358px;
    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
margin-right: 12px;

}
.submit {
    color: #FFFFFF;
    font-family: Roboto;
font-weight: bold;
font-size: 16px;
line-height: 30px;
    background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding-left: 12px;
width: 200px;
height: 50px;
border: none;
}


/** portfolio page **/
.portfolio {
    padding-bottom: 94px;
    padding-top: 94px;
    background: #FFFFFF;
    display: flex;
    justify-content:center;

}
.portfolio-conteiner {
    width: 1200px;
padding-left: 15px;
padding-right: 15px;
 margin-left: auto;
    margin-right: auto;
}
.title-work {
    display: none;
}
.portfolio-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}
.nav-button {
margin-right: 8px;
padding: 6px 22px;
background: #F5F4FA;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
border-radius: 4px;
color: #212121;
border: none;
transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms background-color cubic-bezier(0.4, 0, 0.2, 1), 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-button.current {
    background:var(--accent-color );
}
.portfolio .nav-button:hover,
.portfolio .nav-button:focus {
    color: #FFFFFF;
    background-color:var(--accent-color );
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
 transition: 250ms top cubic-bezier(0.4,0,0.2,1);
}
.projects-table  {
    padding-bottom: 94px;
    display: flex;
}
.projects-list-table {
       width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}
.projects-table{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -30px;
margin-top: -30px;  
}
a.link-further{
    display: block;
    text-decoration: none;
}

.image-portfolio{
display: block;
}
.photo-cards{
    position:  relative;
    width: auto;
    height: 294px;
    overflow: hidden;
}

.projects-items {
    width: 370px;
    margin-left: 30px;
    margin-top: 30px;
    
    border: 1px solid #EEEEEE;
}
.projects-items:hover ,
 .projects-items:focus {
    display: inline-block;
   text-decoration:none;
       width: 370px;
    height: 404px;
    background: #FFFFFF;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   
}
.projects-items:hover .overlay-text {
    top: 0%;
   
}
.link-further:focus .overlay-text{
    top: 0%;
}
 
  
.overlay-text {
 font-family: Roboto;
font-weight: normal;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    padding: 63px 24px;
    background-color: rgba(33,150,243,0.9);
    color: #ffffff;
    transition: 250ms top cubic-bezier(0.4,0,0.2,1);
}



.name {
    padding: 20px 24px;
    border-top: none;
    background-color: #FFFFFF;
}

.name h3 {
        font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    line-height: 2;
    text-align: left;
    color: var(--text-title-color);
    margin-bottom: 4px;
}
.name p {
    font-family: Roboto;
 font-size: 16px;
 font-weight: 400;
    line-height: 1.87;
   margin-top: 0;
    margin-bottom: 0;
color: var(--primary-text-color);
}


.backdrop{
width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.2);
    position: fixed;

 
}
.backdrop.is-hidden {
opacity: 0;
pointer-events: none;
}
.modal{
    position: absolute;
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%), 0 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
    padding: 40px;
   
  
}

.modal-close{
    position: absolute;
    width: 30px;
height: 30px;
top: 8px;
right: 8px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
background-color: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
cursor: pointer;
    margin-left: auto;
    margin-top: 8px;
    margin-right: 8px;

}



#modal-title{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 12px;

 
}
 .modal-small-title{
 font-family: Roboto;
font-weight: normal;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: #757575;
margin-bottom: 4px;
 }
 .text-line {
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
height: 40px;
width: 100%;
margin-bottom: 10px;
padding-left: 35px;
 }
 .text-area {
     border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
height: 40px;
width: 100%;
margin-bottom: 20px;
height: 120px;
resize: none;
 }
 .text-area:hover{
     border-color: var(--accent-color);
 }
 .button-submit {
     height: 50px;
     margin-left: 124px;
     margin-right: 124px;
     border: none;
 }
 
 .agreement-form {
     
     height: 24px;
     width: 100%;
     font-family: Roboto;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
margin-bottom: 30px;
 }
 .terms-contract {
     color: var(--accent-color);
     text-decoration: underline;
     
 }
.form-field{
     position: relative;
 }
 .modal-icon-close{
    position: absolute;
     top: 5px ;
     left: 5px;
}
.modal-close:hover {
fill:var(--accent-color) ;
}

.modal-close:hover .modal-icon-close,
 .modal-close:focus .modal-icon-close{
     fill: var(--accent-color);
 }


 .modal-icon {
     position: absolute;
     top: 3px ;
     left: 12px;
 }
 
 .modal-icon:hover,
 .modal-icon:focus {
     fill:var(--accent-color) ;
 }
 
 .text-line:hover {
border-color: var(--accent-color);
 }

 .text-line:hover + .modal-icon,
 .text-line:focus + .modal-icon{
     fill: var(--accent-color);
 }

 .visually-hidden {
     position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
 }
 .check-label{
    position: relative;
    padding-left: 25px;
}
.check-label:before{
    content: "";
    position: absolute;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
    left: 0;
}
.check:checked + .check-label:before{
    background-color: var(--accent-color);
    background-image: url("../image/icon\ check.svg");
    border-color: var(--accent-color);
}
.check:focus + .check-label:before{
    border-color: var(--accent-color);
}